/* ========== heading ========== */
.ad-inserter-h2 {
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 25px 0;
    margin: 0;
}

.ad-inserter-h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

/* ========== headline ========== */
.ad-inserter-headline, .ad-inserter-headline-with-button {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.ad-inserter-headline-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ========== button groups ========== */
.ad-inserter-right-button-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ad-inserter-right-button-group > a {
    margin: 0 8px;
}

.ad-inserter-space-around-button-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ========== layout ========== */
.ad-insertion-content-wrapper {
    padding: 0 10px;
}


/* ========== buttons ========== */
.ad-inserter-button-green-white {
    background-color: #25C1B2;
    border-color: #25C1B2;
    color: #fff;
    text-transform: uppercase !important;
    text-shadow: none;
    line-height: 40px;
    border-radius: 3px;
    border-style: none !important;
    height: 44px;
    padding: 0 20px;
    cursor: pointer;
}

.ad-inserter-button-green-white:hover {
    background-color: #37D1BE;
    border-color: #37D1BE;
}

.ad-inserter-button-white-blue {
    background-color: #fff;
    color: #43B4F9;
    text-transform: uppercase !important;
    text-shadow: none;
    line-height: 40px;
    border: 2px solid #43B4F9;
    border-radius: 3px;
    height: 44px;
    padding: 0 20px;
    cursor: pointer;
}

.ad-inserter-button-white-blue:hover {
    border-color: #59C3F7;
    color: #59C3F7;
}

/* ========== forms ========== */
.ad-inserter-lable-input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 420px;
    padding: 20px 0;
}

.ad-inserter-lable-input-row > label {
    text-transform: uppercase;
    padding-right: 10px;
}

.ad-inserter-lable-input-row > input {
    box-shadow: none;
    background: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 3px;
    border-bottom: 2px solid #43B4F9;
    transition: border-color .2s;
    height: 30px;
    max-width: 300px;
    width: 100%;
    margin: 0 !important;
}

.ad-inserter-lable-input-row > input::-webkit-input-placeholder {
    text-align: center;
    text-transform: uppercase;
}

.ad-inserter-lable-input-row > input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    text-transform: uppercase;
}

.ad-inserter-lable-input-row > input::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    text-transform: uppercase;
}

.ad-inserter-lable-input-row > input:-ms-input-placeholder {
    text-align: center;
    text-transform: uppercase;
}
.ad-inserter-lable-input-row > input::placeholder {
    text-align: center;
    text-transform: uppercase;
}
.ad-inserter-lable-input-row > input:focus {
    border: 2px solid #43B4F9;
    transition: border-color .2s;
}

/* ========== loading button ========== */
@keyframes changeGradient {
    0% { background: linear-gradient(141deg, #37D1BE 0%, #25C1B2 11%); }
    5% { background: linear-gradient(141deg, #37D1BE 6%, #25C1B2 16%); }
    10% { background: linear-gradient(141deg, #25C1B2 0%, #37D1BE 11%, #25C1B2 21%); }
    15% { background: linear-gradient(141deg, #25C1B2 6%, #37D1BE 16%, #25C1B2 26%); }
    20% { background: linear-gradient(141deg, #25C1B2 11%, #37D1BE 21%, #25C1B2 31%); }
    25% { background: linear-gradient(141deg, #25C1B2 16%, #37D1BE 26%, #25C1B2 36%); }
    30% { background: linear-gradient(141deg, #25C1B2 21%, #37D1BE 31%, #25C1B2 41%); }
    35% { background: linear-gradient(141deg, #25C1B2 26%, #37D1BE 36%, #25C1B2 46%); }
    40% { background: linear-gradient(141deg, #25C1B2 31%, #37D1BE 41%, #25C1B2 51%); }
    45% { background: linear-gradient(141deg, #25C1B2 36%, #37D1BE 46%, #25C1B2 56%); }
    50% { background: linear-gradient(141deg, #25C1B2 41%, #37D1BE 51%, #25C1B2 61%); }
    55% { background: linear-gradient(141deg, #25C1B2 46%, #37D1BE 56%, #25C1B2 66%); }
    60% { background: linear-gradient(141deg, #25C1B2 51%, #37D1BE 61%, #25C1B2 71%); }
    65% { background: linear-gradient(141deg, #25C1B2 56%, #37D1BE 66%, #25C1B2 76%); }
    70% { background: linear-gradient(141deg, #25C1B2 61%, #37D1BE 71%, #25C1B2 81%); }
    75% { background: linear-gradient(141deg, #25C1B2 66%, #37D1BE 76%, #25C1B2 86%); }
    80% { background: linear-gradient(141deg, #25C1B2 71%, #37D1BE 81%, #25C1B2 91%); }
    85% { background: linear-gradient(141deg, #25C1B2 76%, #37D1BE 86%, #25C1B2 96%); }
    90% { background: linear-gradient(141deg, #25C1B2 81%, #37D1BE 91%); }
    95% { background: linear-gradient(141deg, #25C1B2 86%, #37D1BE 96%); }
    100% { background: linear-gradient(141deg, #25C1B2 91%, #37D1BE 0%); }
}

.ad-inserter-loading-button-container {
    display: inline-block;
    padding: 0 20px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    animation-duration: .8s;
    animation-name: changeGradient;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: progress;
    line-height: 44px;
    height: 44px;
}



/* ========== only for test purposes (delete later!!!) ========== */
.db-test-buttons {
    margin-top: 100px;
}